body {
    background-image: url(../img/pattern1.png);
    background-attachment: scroll;
    font-family: "Open Sans", sans-serif;

    margin-left: 20px;
}

.judul {
    margin-bottom: 50px;
}

.judul h1 {
    text-align: center;
}

.main div {
    display: inline-block;
}

.perjumlahan {
    background-color: lightblue;
    width: 500px;
    height: auto;
    box-sizing: content-box;
    padding: 20px;
    border: 5px solid black;
}

.perjumlahan h3 {
    text-align: center;
    margin-top: -10px;
}

.perjumlahan table {
    background-color: rgb(255, 217, 0);
    width: 500px;
    height: 200px;
    box-sizing: content-box;
    padding: 30px;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 10px;
}

.perkalian {
    background-color: lightblue;
    width: 500px;
    height: auto;
    box-sizing: content-box;
    padding: 20px;
    border: 5px solid black;
}

.perkalian h3 {
    text-align: center;
    margin-top: -10px;
}

.perkalian table {
    background-color: rgb(255, 217, 0);
    width: 500px;
    height: 200px;
    box-sizing: content-box;
    padding: 30px;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 10px;
}